@import url("photographer.css");

:root {
  --title-color: #d3573c;
  --accent-color: #901c1c;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #fafafa;
  --primary-text-color: black;
  --secondary-text-color: #757575;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

p,
h2 {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 80vw;
  margin: 0 auto;
}

h1 {
  color: var(--accent-color);
  margin-right: 100px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: unset;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article,
.photographer_section a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 400;
}

.photographer_section article img {
  height: 220px;
  width: 220px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.237);
}

.photographer_section article p {
  margin-bottom: 0.2rem;
}

.location {
  font-size: 0.8rem;
  color: var(--accent-color);
  font-weight: 400;
}

.tagline {
  font-size: 0.65rem;
}

.price {
  color: var(--secondary-text-color);
  font-size: 0.6rem;
}
